<%# partial file to display nav bar %>
<nav class="navbar mb-2">
  <div class="container-fluid">
    <div class="navbar-header">
      <% if logged_in? %>
        <%= link_to 'My Articles', articles_path, class: "mx-2" %>
      <% else %>
        <%= link_to "Articles", articles_path, class: "mx-2" %>
      <% end %>
    </div>
    <% if logged_in? %>
      <ul class="nav navbar-right ">
        <li><%= link_to "Log out", logout_path, data: { turbo_method: :delete }, class: "mx-2" %></li>
      </ul>
    <% else %>
      <ul class="nav navbar-right ">
        <li><%= link_to "Log in", login_path, class: "mx-2" %></li>
        <li><%= link_to "Sign up", signup_path, class: "mx-2" %></li>
      </ul>
    <% end %>
  </div>
</nav>
